<section class="actual-section">
    <h2 class="actual-section__title">Актуальные акции</h2>
    <div class="actual-section__container">
        <!--=include thumb-btn.html-->
        <div class="actual-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!--=include actual-slider-item.html-->
                    <!--=include actual-slider-item.html-->
                    <!--=include actual-slider-item.html-->
                </div>
                <div class="swiper-slide">
                    <!--=include actual-slider-item.html-->
                    <!--=include actual-slider-item.html-->
                    <!--=include actual-slider-item.html-->
                </div>
                <div class="swiper-slide">
                    <!--=include actual-slider-item.html-->
                    <!--=include actual-slider-item.html-->
                    <!--=include actual-slider-item.html-->
                </div>
            </div>
        </div>
    </div>
</section>